.source-code {
  padding: 15px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  line-height: 1.3em;
}

.terminal {
  padding: 15px;
  background: #2b303b;
  color: #eff1f5;
  border-radius: .25rem;
  line-height: 1.3em;
}
