h2.my-3
  span 🏃
  = @runner.script_name

- unless @status
  pre.pre-scrollable
    code.source-code.lang-ruby
      = @runner.code
  = form_tag(running_station.runner_path(@runner.name), method: :put)
    button.btn.btn-block.btn-primary Execute
- else
  - if @status.success?
    .alert.alert-success
      span Success!
  - else
    .alert.alert-danger
      span Failure!

  h5 stdout
  pre.pre-scrollable
    code.terminal.lang-console
      = @stdout

  h5 stderr
  pre.pre-scrollable
    code.terminal.lang-console
      = @stderr
